$blurple: #7289DA;
$faceit: white;
$bungie: #414142;

.blurple-background {
    color: #23272A !important;
    background-color: $blurple !important;
}

.faceit-background {
    color: #FF5500 !important;
    background-color: $faceit !important;
}

.bungie-background {
    color: #bcbdb0 !important;
    background-color: $bungie !important;
}
