.registration-title {
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    img {
        max-height: 6em;
        max-width: 6em;
        border-radius: 100%;
    }

    span {
        font-weight: 500;
        font-size: 1.8em;
        padding: 0.1em;
        margin-top: 0.2em;
    }
}

.registration-footer {
    margin-bottom: 4em;
    min-width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .error {
        bottom: 2em;
        width: 100vh;
        position: absolute;
        margin-bottom: 0.4em;
        span {
            margin: auto;
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .reset {
            background: hsl(348, 100%, 61%);
            color: hsl(0, 0%, 100%);
            &:hover {
                background: #c13451;
            }
            flex-grow: 1;
            border-radius: 3px;
            .button {
                background-color: inherit;
                color: inherit;
                border-radius: inherit;
            }
        }

        .register {
            flex-grow: 2;
            color: hsl(0, 0%, 100%);
            background-color: hsl(217, 71%, 53%);
            border-radius: 3px;
            margin-left: 0.3em;
            &:hover {
                background: #2b5eaf;
            }
            .button {
                background-color: inherit;
                color: inherit;
                border-radius: inherit;
            }
        }
    }
}


.main-flex-container {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 10px;
    align-items: center;
    background: hsl(0, 0%, 96%);
    box-shadow: 3px 4px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1); 
    .multi {
        display: flex;
        flex-direction: row;
    }

    .single-text {
        width: 10em;
        .text {
        }

        .checkmark {
        }
    }


    .single-button {
        font-weight: 700;
        padding: 0.2em;
        background: hsl(0, 0%, 4%);
        color: hsl(0, 0%, 96%);
        box-shadow: 3px 4px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 0.2em;
        width: 18em;
        height: 3em;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
